* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  padding: 0;
}

main { 
  width: 30rem;
}

header {
  background-color: #404041;
  width: 100%
}

h1 {
  color: #ed458b;
  font-size: 3.2em;
  font-weight: 700;
  padding: .3em;
  text-align: center;
}

form {
  margin: 2.8em 0;
}

.player-guess-input-field {
  border: 1.5px solid #d0d2d3;
  font-size: 1.6em;
  height: .7em;
  margin: 0 0 1.5em 1.7em;
  outline: none;
  padding: .4em 0 .5em .3em;
  width: 15em;
}

input::placeholder {
  color: #d0d2d3;
}

button {
  background-color: #929497;
  border-radius: 2em;
  border: none;
  color: #FFFFFF;
  font-size: 1.6em;
  outline: none;
}

button:disabled {
  background-color: #D0D2D3;
}

button:hover {
  background-color: #ed458b; 
}

h2 {
  font-color: #404041;
  text-align: center;
  font-size: 1.7em;
}

.last-guess-was {
  margin-top: 3.7em;
}

.your-guess-display {
  height: 16em;
}

.too-low-too-high {
  margin: 0 0 2em 0;
}

.your-guess {
  color: #eb008b;
  font-size: 20em;
  text-align: center;
}

span {
  color: lightgrey;
}

.button-guess {
  float: left;
  width: 7em;
  margin-left: 1.7em;
  padding: .1em;
}

.button-clear {
  float: right;
  margin-right: 1.7em;
  width: 7em;
  padding: .1em;
}

.output {
  color: #ed458b;
  font-size: 11em;
  text-align: center;
  height: 1em;
  margin-bottom: .2em;
}

.button-reset {
  font-size: 1.2em;
  margin: 0 0 1em 1.9em;
  padding: .2em;
  width: 21.5em;
}








